{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quiz</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style4.css' %}">
    <style>
        body {
            background-image: url("{% static 'image/1.1.jpg' %}"); 
        }
    </style>
</head>
<body>
    <div class="create-quiz-container">
        <h1>Edit Question</h1>
        <!-- Form for quiz details -->
        <form id="editQuizForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Question Section -->
                <div>
                    <label for="question">Question:</label>
                    <input type="text" id="question" name="question" value="{{ question.question }}" required>
                </div>
                <p>Current Answer: {{ question.correct_option }}</p>
                <!-- Option 1 -->
                <!-- Hidden Field to store Correct Option -->
                <input type="hidden" id="hiddenCorrectOption" name="correct_option" value="{{ question.correct_option }}">
                <!-- Option 1 -->
                <div>
                    <label for="option1">Option 1:</label>
                    <!-- Option 1 -->
                    <input 
                        type="text" 
                        id="option1" 
                        name="option1" 
                        value="{{ question.option1 }}" 
                        oninput="updateOption('option1', 'option1Text')"
                        required
                    >
                </div>

                <!-- Option 2 -->
                <div>
                    <label for="option2">Option 2:</label>
                    <!-- Option 2 -->

                    <input 
                        type="text" 
                        id="option2" 
                        name="option2" 
                        value="{{ question.option2 }}" 
                        oninput="updateOption('option2', 'option2Text')"
                        required
                    >
                </div>

                <!-- Option 3 -->
                <div>
                    <label for="option3">Option 3:</label>
                    <!-- Option 3 -->

                    <input 
                        type="text" 
                        id="option3" 
                        name="option3" 
                        value="{{ question.option3 }}" 
                        oninput="updateOption('option3', 'option3Text')"
                        required
                    >
                </div>

                <!-- Points -->
                <div>
                    <label for="points">Points:</label>
                    <input 
                        type="number" 
                        id="points" 
                        name="points" 
                        value="{{ question.points }}" 
                        required
                    >
                </div>

                <hr width="100%" color="green" size="5px" />
                <p>Answer:</p> <br>
                <!-- Option 1 -->
                <label for="option1">Option 1:</label>
                <div id="main">
                    <div>
                        <input type="radio" name="correct_option_radio" value="{{ question.option1 }}" {% if question.correct_option == question.option1 %}checked{% endif %}>
                    </div>
                    <div>
                        <p id="option1Text">{{ question.option1 }}</p>
                    </div>
                </div>

                <!-- Option 2 -->
                <label for="option2">Option 2:</label>
                <div id="main">
                    <div>
                        <input type="radio" name="correct_option_radio" value="{{ question.option2 }}" {% if question.correct_option == question.option2 %}checked{% endif %}>
                    </div>
                    <div>
                        <p id="option2Text">{{ question.option2 }}</p>
                    </div>
                </div>
                
                <!-- Option 3 -->
                <label for="option3">Option 3:</label>
                <div id="main">
                    <div>
                        <input type="radio" name="correct_option_radio" value="{{ question.option3 }}" {% if question.correct_option == question.option3 %}checked{% endif %}>
                    </div>
                    <div>
                        <p id="option3Text">{{ question.option3 }}</p>
                    </div>
                </div>
                

                <!-- Submit and Exit Buttons -->
                <div class="submit-exit-buttons">
                    <!-- Submit Button -->
                    <button 
                        type="submit" 
                        class="button-submit">
                        Save Changes
                    </button>
                </div>
        </form>
        <div class="submit-exit-buttons">
            <a><button onclick="exitQuiz()">Exit</button></a>
        </div>
    </div>  
    <script src="{% static 'Script/start.js' %}"></script>
    <script src="{% static 'Script/share.js' %}"></script>


</body>
</html>
