{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles/style1.css' %}">
    <style>
        body {
            background-image: url("{% static 'image/1.1.jpg' %}"); 
          }
    </style>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
    
    
        <form id="registerForm" method="post" action="{% url 'register' %}">
            {% csrf_token %}
    
            <!-- Name Field -->
            <input type="text" name="name" id="name" placeholder="Name" required>
            <div class="error-message" id="nameError" style="color: red;"></div>
            {% if form.name.errors %}
                <div class="error-message" style="color: red;">{{ form.name.errors.0 }}</div>
            {% endif %}
    
            <!-- Email Field -->
            <input type="email" name="email" id="email" placeholder="Email" required>
            <div class="error-message" id="emailError" style="color: red;"></div>
            {% if form.email.errors %}
                <div class="error-message" style="color: red;">{{ form.email.errors.0 }}</div>
            {% endif %}
    
            <!-- Password Field -->
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div class="error-message" id="passwordError" style="color: red;"></div>
            {% if form.password.errors %}
                <div class="error-message" style="color: red;">{{ form.password.errors.0 }}</div>
            {% endif %}
    
            <!-- Confirm Password Field -->
            <input type="text" name="confirm_password" id="confirmPassword" placeholder="Confirm Password" required>
            <div class="error-message" id="confirmPasswordError" style="color: red;"></div>
            {% if form.confirm_password.errors %}
                <div class="error-message" style="color: red;">{{ form.confirm_password.errors.0 }}</div>
            {% endif %}
    
            <button type="submit">Register</button>
        </form>
    
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
    <script src="{% static 'Script/registration.js' %}"></script>
</body>
</html>
